.pedal.japanese {
  --pedal-background-base: url('../images/pedal/japanese.png');
  --pedal-background: #65cdca;
  --pedal-height: 530px;
  --pedal-width: 274px;

  --knob-background: url('../images/knob/japanese/green.png');
  padding: 10px 10px 40px
}

.pedal.japanese .led {
  order: 0;
}
.pedal.japanese .knobs {
  order: 1;
}
.pedal.japanese .name {
  order: 2;
}
.pedal.japanese .logo {
  order: 3;
}
.pedal.japanese .footswitch {
  order: 3;
}

.pedal.japanese .logo {
  font-size: 32px;
  color: #292d31;
  text-shadow: 1px 2px 2px rgba(0,0,0,.5),2px 4px 5px rgba(0,0,0,.5),0px 0px 8px rgba(0,0,0,.5), -1px -1px 1px rgba(255,255,255,.2);
}

.pedal.japanese .knobs {
  color: white;
  font-weight: bold;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
